# Flutter / Dart
.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json

# OS
Thumbs.db
Desktop.ini

# Misc
*.log
*.ap_
*.apk
*.app
